ansible==8.3.0
ansible-compat==4.1.2
ansible-core==2.15.3
ansible-lint==6.17.2
cookiecutter==2.1.1
mkdocs==1.4.3
mkdocs-material==9.1.14
mkdocs-material-extensions==1.1.1
molecule==6.0.0
molecule-plugins==23.5.0
python-vagrant==1.0.0
